*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	


	
}

html{
	scroll-behavior: smooth;
}

p{
	font-family: Helvetica;
}

.box{
	height: 20px;
}

/*landing css start*/
#landing{
	height: 120vh;
	background-color: black;
	text-align: center;
	
}
.flip-box-front img, .flip-box-back img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	transition: .5s;
}
.flip-box{
	width: 300px;
	height: 300px;
	perspective: 1000;
	margin: 0 auto;
}
.flip-box-inner{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
  	transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-back {
  transform: rotateY(180deg);
}
/*#landing > a{
	width: 500px;
	
	margin: 0 auto;
	
}*/

/*#landing > a >img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	transition: .5s;
}

#landing > a >img:hover{
	box-shadow: 0 15px 35px -15px white;
	transform: scale(1.1);
	transition: .5s;
}*/


#landing  h1{
	color: white;
	font-size: 90px;
	font-family: 'Oleo Script', cursive;
	text-align: center;

}

#landing > audio{
	position: absolute;
	left: 39%;
	bottom: 10%;
}


/*landing css end*/

/*nav css start*/
nav{
	height: 50px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	font-family: helvetica;
	z-index: 100;
	
}

nav > ul{
	display: flex;
	list-style-type: none;
}

nav > ul > li{
	margin: 0 20px;
}

nav > ul > li > a{
	text-decoration: none;
	color: white;
}

nav > ul > li > a:hover{
	color: lightgray;
}
/*nav css end*/

/*about me css start*/

#aboutMe{
	height: 120vh;

}

#aboutMe h2{
	font-family: 'Oleo Script', cursive;
	font-size: 50px;
	margin-top: 50px;
	margin-left: 50px;
	
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}
#aboutMe img{
	height: 375px;
	width: 375px;
	border-radius: 50%;

}

#aboutMe p{
	padding-top: 10px;
	font-size: 20px;
	letter-spacing: 1px;
	color: gray;

}


.aboutLeft{
	height: 70vh;
	width: 50%;
	display: flex;
	justify-content: center;
	padding-left: 150px;


}

.aboutRight{
	height: 70vh;
	width: 50%;
}

.aboutRight h3{
	font-family: Helvetica;
	font-size: 50px;
	padding-top: 10%;
	
}

.aboutRight h4{
	font-family: Helvetica;
	font-size: 30px;
	padding-top: 10px;
	color: gray;

}

.quote{
	text-align: center;
	font-style: italic;
}
	

	

/*about me css end*/

/*skill css start*/

#skill{
	height: 120vh;
	background-color: black;
	
}

#skill h2{
	font-family: 'Oleo Script', cursive;
	font-size: 50px;
	margin-top: 50px;
	margin-left: 50px;
	color: white;
}

	

.skillLeft{
	height: 70vh;
	width: 60%;
	
}

.skillLeft h3{
	font-family: Helvetica;
	font-size: 30px;
	padding-top: 5%;
	padding-bottom: 15px;
	color: white;
	text-align: center;
}

.skillLeft p{
	color: white;
	font-size: 15px;
}

.skillLeft img{
	height: 100px;
	width: 80px;
}

.skillSet{
	width: 600px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto; 

}

.skillSet1{
	text-align: center;
	height: 50vh;
}

.skillRight{
	height: 70vh;
	width: 40%;
	
}

.skillRight p{
	color: white;
	font-size: 20px;
	padding-top: 2.5%;

}

.skillRight h3{
	font-family: Helvetica;
	font-size: 30px;
	padding-top: 7%;
	padding-bottom: 15px;
	color: white;
	
}


/*.bar1{
	background-color: lightgray;
	height: 20px;
	width: 300px;
	position: relative;
	z-index: 1;
}

.bar2{
	background-color: gray;
	height: 20px;
	width: 250px;
	position: relative;
	top: -20px;
	z-index: 2;

}
.bar2 p{
	padding-left: 5px;
}

.bar3{
	background-color: gray;
	height: 20px;
	width: 200px;
	position: relative;
	top: -20px;
	z-index: 2;

}
.bar3 p{
	padding-left: 5px;
}

.bar4{
	background-color: gray;
	height: 20px;
	width: 225px;
	position: relative;
	top: -20px;
	z-index: 2;

}
.bar4 p{
	padding-left: 5px;
}
*/

/*skill css end*/

/*project css start*/

#project{
	height: 150vh;
	
}

#project h2{
	font-family: 'Oleo Script', cursive;
	font-size: 50px;
	margin-top: 50px;
	margin-left: 50px;
	
}

.projLeft{
	height: 90vh;
	width: 50%;
	
}

.projLeft h3{
	font-family: Helvetica;
	font-size: 30px;
	padding-top: 1%;
	padding-bottom: 15px;
	text-align: center;
}

.projLeft img{
	width: 300px;
	max-height: 300px;

	
}

.capstones p{
	padding-bottom: 10px;
}

.capstones{
	text-align: center;
}

.projRight{
	height: 90vh;
	width: 50%;
	
}

.projRight h3{
	font-family: Helvetica;
	font-size: 30px;
	padding-top: 1%;
	padding-bottom: 7%;
	text-align: center;
}
.artCon{
	display: flex;
	justify-content: center;
	align-items: center;
}

.artCon img{
	width: 320px;
	height: 450px;
	transition: .5s;
}

.artCon img:hover{
	transform: scale(1.2);
}

.artBtn{
	background-color: black;
	color: white;
	font-size: 20px;
	position: absolute;
	
}

#btnLeft{
	left: 120px;
}

#btnRight{
	right: 120px;
}
/*project css end*/



/*contact css start*/

#contact{
	height: 90vh;
	background-color: black;
	color: white;
	font-family: helvetica;
}

#contact h2{
	font-family: 'Oleo Script', cursive;
	font-size: 50px;
	margin-top: 50px;
	margin-left: 50px;
	color: white;
}

.contAct{
	display: flex;
}

.contLeft{
	height: 50vh;
	width: 60%;
	text-align: right;

}

.contLeft img{
	width: 75%;

}

.contRight{
	height: 50vh;
	width: 40%;
	margin-top: 60px;
}

.contRight p{
	display: inline;
	padding-left: 10px;
	padding-bottom: 50px;
}


.contRight img{
	width: 40px;
	height: 40px;
	margin-top: 12px;
}

/*contact css end*/

footer{
	text-align: center;
}

/*media queries for ipad*/
@media only screen and (min-width: 375px) and (max-width: 770px){
	#landing > audio{
	position: absolute;
	left: 32%;
	bottom: 15%;
	}
}

/*media queries for iphone 6/7/8*/
@media only screen and (max-width: 375px){
	#landing > audio{
	position: absolute;
	left: 12%;
	bottom: 10%;
	}

	nav > ul > li{
	margin: 0 10px;
	}

}